// _mixins.scss

// Mixin for button styles using color.adjust to darken
@mixin button($bg-color, $padding: 10px) {
    background-color: $bg-color;
    $color: white;
    padding: $padding;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
        border-radius: 10px;
        }
  }
  